:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

* {
  font-family: "Gloock", serif;
}

body {
  background-color: #30374b;
  color: #eee;
}

main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 100%;
  padding-top: 10px;
}

/* layout */
.layout-container {
  width: 100%;
}

/* tasks */
.tasks-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Mantine Drawer */
.add-task-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.mantine-TextInput-label {
  font-weight: 800;
  margin-bottom: 10px;
}

.mantine-Modal-inner {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .mantine-Modal-inner {
    width: 90%;
    margin-left: 10px;
  }
}
