:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

* {
  font-family: "Gloock", serif;
}

body {
  background-color: #30374b;
  color: #eee;
  padding-bottom: 50px;
}

main {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
/* layout */
.layout-container {
  height: 100vh;
  width: 100%;
}

/* Task main container */
/* .task-main-container {
  width: 100%;
  margin-top: 130-;
} */
.tasks-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 20px;
}

/* Add Task Drawer */
.handle-add-task-button {
  margin-top: 10px;
}
