:root {
  --red: #f54e4e;
  --green: #4aec8c;
  --backgroundColor: #30374b;
}

* {
  font-family: "Gloock", serif;
}

body {
  background-color: var(--backgroundColor);
  color: #eee;
}

main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 100%;
  padding-top: 10px;
}

/* layout */
.layout-container {
  width: 100%;
}

/* tasks-columns */
.tasks-columns {
  background: var(--backgroundColor);
  padding: 10px;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .tasks-columns {
    width: 80%;
  }
}
.columns-items-container {
  border: 1px;
  border-radius: 10px;
  border-style: dashed;
  margin-top: 10px;
  padding: 16px;
  user-select: none;
}

/* tasks */
.tasks-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .tasks-container {
    gap: 2rem;
  }
}

.task-name-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Add task mantine drawer */
.add-task-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.mantine-TextInput-label {
  font-weight: 800;
  margin-bottom: 10px;
}

.mantine-Modal-inner {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .mantine-Modal-inner {
    width: 90%;
    margin-left: 10px;
  }
}
